/* ATTRIBUTION */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MAIN BODY */

body {
    font-size: 18px;
}

.profile {
    display: flex;
    margin: 0 auto;
    min-height: 720px;
    max-width: 1440px;
    background-color: aqua;
}

.profile-card {
    margin: auto;
    font-family: 'Kumbh Sans',sans-serif;
    background-color: white;
    background-image: url(/images/bg-pattern-card.svg);
    background-size: auto 140px;
    background-repeat: no-repeat;
    height: 375PX;
    width: 330px;
    border-radius: 15px;
}

.profile-image {
    display: block;
    margin: 90px auto 0;
    border: 5px solid white;
    border-radius: 50px;
}