/* ATTRIBUTION */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MAIN BODY */

body {
    font-size: 18px;
}

.profile {
    display: flex;
    margin: 0 auto;
    min-height: 720px;
    max-width: 1440px;
    background-color: aqua;
}

.profile-card {
    margin: auto;
    font-family: 'Kumbh Sans',sans-serif;
    background-color: white;
    background-image: url(/images/bg-pattern-card.svg);
    background-size: auto 140px;
    background-repeat: no-repeat;
    height: 375PX;
    width: 330px;
    border-radius: 15px;
}

.profile-image {
    display: block;
    margin: 90px auto 0;
    border: 5px solid white;
    border-radius: 50px;
}

.city {
    text-align: center;
}

.profile-name, .stats-number {
    font-size: 18px;
}

.bottom-stats {
    display: flex;
    padding: 20px;
}

.stats {
    flex-direction: row;
    align-content: space-around;
    text-align: center;
    width: 70px;
    margin: 0 auto;
    padding: 0%;
    flex-wrap: wrap;
}

.stat-number {

    font-weight: 700;
    padding: 0;
    margin: 0;
}

.stat-description {
    font-weight: lighter;
    font-size: 10px;
    padding: 0;
    margin: 5px;
}