/* ATTRIBUTION */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MAIN BODY */

body {
    font-size: 18px;
}

.profile {
    display: flex;
    position: relative;
    margin: 0 auto;
    min-height: 720px;
    max-width: 1440px;
    background-color: hsl(185, 75%, 39%);
}

/* BACKGROUND IMAGE CONTAINERS */

#bg-image-top {
    position: absolute;
    width: 700px;
    height: 460px;
    overflow: hidden;
    background-position: top left;
}

#bg-image-top img {
    position: relative;
    top: -505px;
    left: -280px;
}

#bg-image-bottom {
    position: absolute;
    width: 740px;
    height: 350px;
    top: 350px;
    left: 700px;
    overflow: hidden;
}

#bg-image-bottom img {
    position: relative;
}

/* PROFILE */

.profile-card {
    z-index: 1;
    margin: auto;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: white;
    background-image: url(/images/bg-pattern-card.svg);
    background-size: auto 140px;
    background-repeat: no-repeat;
    height: 375PX;
    width: 330px;
    border-radius: 15px;
}

.profile-image {
    display: block;
    margin: 70px auto 0;
    border: 5px solid white;
    border-radius: 50px;
}

.profile-header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 15px 95px 0;
    padding-bottom: 0;
}

.profile-name,
.age {
    margin-bottom: 10px;
}

.city {
    font-size: 14px;
    margin: 3px auto 30px;
    text-align: center;
}

.profile-name,
.stats-number {
    font-size: 18px;
}

/* STAT STYLING */

.bottom-stats {
    display: flex;
    padding: 25px;
    margin-top: 10px;
    border-top: 1px solid #eee;
}

.stats {
    flex-direction: row;
    align-content: space-around;
    text-align: center;
    width: 70px;
    margin: 0 auto;
    padding: 0%;
    flex-wrap: wrap;
}

.stat-number {
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.stat-description {
    font-weight: lighter;
    font-size: 10px;
    padding: 0;
    margin: 5px;
    letter-spacing: 2px;
}

.city,
.stat-description,
.age {
    color: gray;
}

.profile-name,
.stat-number {
    color: hsl(0, 0%, 0%);
}